*{
    margin: 0;
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box{
    margin: 10px;
    border: 10px;
    padding: 10px;
    border-color: rgb(33, 210, 210);
    text-align: center;
}

.box h3{
    text-align: center;
    text-decoration: underline;
    font: bolder;
    padding: 10px;
}

.box p{
    padding: 10px;
}